# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
aws_app/
site/
tmp/
bin/
obj/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.app
*.log

# Test results
TestResults/

# Others
*.cache
*.pdb
*.mdb
